openapi: 3.0.1
info:
  title: consoledot Export Service
  version: 0.1.0
servers:
  - url: '{server}/api/export/v1'
    variables:
      server:
        default: http://localhost:8080
paths:
  /exports:
    post:
      operationId: createExport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: Export scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportStatus'
      security:
        - 3ScaleIdentity: []
    get:
      operationId: getExports
      parameters:
        - name: name
          in: query
          schema:
            type: string
        - name: created_at
          description: Date follows the RFC3339 standard or YYYY-MM-DD
          in: query
          schema:
            type: string
            format: date
        - name: expires_at
          description: Date follows the RFC3339 standard or YYYY-MM-DD
          in: query
          schema:
            type: string
            format: date
        - name: application
          in: query
          schema:
            type: string
            example: subscriptions
        - name: resource
          in: query
          schema:
            type: string
            example: systems
        - name: offset
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - name
              - created_at
              - expires_at
              - application
              - resource
        - name: dir
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Matching Exports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportList'
      security:
        - 3ScaleIdentity: []
  /exports/{id}:
    get:
      operationId: downloadExport
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          required: true
      responses:
        '200':
          description: Export data
          content:
            application/zip:
              schema:
                type: string
                format: binary
      security:
        - 3ScaleIdentity: []
    delete:
      operationId: deleteExport
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          required: true
      responses:
        '202':
          description: Export deleted (if it existed)
      security:
        - 3ScaleIdentity: []
  /exports/{id}/status:
    get:
      operationId: getExportStatus
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          required: true
      responses:
        '200':
          description: Export status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportStatus'
      security:
        - 3ScaleIdentity: []
  /upload/{id}/{application}/{resource}:
    post:
      operationId: downloadExportUpload
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          required: true
        - name: application
          in: path
          schema:
            type: string
          required: true
        - name: resource
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/zip:
            schema:
              type: string
              format: binary
      responses:
        '202':
          description: OK
      security:
        - psk: []
      tags:
        - internal
  /error/{id}/{application}/{resource}:
    post:
      operationId: downloadExportError
      parameters:
        - name: id
          in: path
          schema:
            $ref: '#/components/schemas/UUID'
          required: true
        - name: application
          in: path
          schema:
            type: string
          required: true
        - name: resource
          in: path
          schema:
            type: string
          required: true
        - name: code
          in: query
          schema:
            type: string
        - name: message
          in: query
          schema:
            type: string
      responses:
        '202':
          description: OK
      security:
        - psk: []
      tags:
        - internal
components:
  schemas:
    Format:
      type: string
      enum:
        - json
        - csv
    UUID:
      type: string
      format: uuid
      pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      minLength: 36
      maxLength: 36
    Status:
      type: string
      enum:
        - partial
        - pending
        - running
        - completed_at
        - failed
    ExportResource:
      type: object
      required:
        - application
        - resource
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        application:
          type: string
        resource:
          type: string
        expires_at:
          type: string
          format: date-time
        filters:
          type: object
        status:
          $ref: '#/components/schemas/Status'
    ExportRequest:
      type: object
      required:
        - name
        - format
        - sources
      properties:
        name:
          type: string
        expires_at:
          type: string
          format: date-time
        format:
          $ref: '#/components/schemas/Format'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExportResource'
    ExportStatus:
      type: object
      required:
        - id
        - name
        - created_at
        - format
        - status
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        format:
          $ref: '#/components/schemas/Format'
        status:
          $ref: '#/components/schemas/Status'
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExportResource'
    PageLinks:
      type: object
      properties:
        first:
          type: string
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        last:
          type: string
      required:
        - first
        - last
    ExportList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExportStatus'
        links:
          $ref: '#/components/schemas/PageLinks'
        meta:
          type: object
          properties:
            count:
              type: number
              format: integer
  securitySchemes:
    psk:
      type: apiKey
      in: header
      name: x-rh-export-psk
    3ScaleIdentity:
      type: apiKey
      in: header
      name: x-rh-identity
      description: >
        Base64-encoded JSON identity header provided by 3Scale. Contains an

        account number of the user issuing the request. Format of the JSON:

        ```

        {
            "identity": {
                "account_number": "account123",
                "org_id": "org123",
                "type": "User",
                "user" : {
                    "is_org_admin": true
                },
                "internal" : {
                    "org_id": "org123"
                }
            }
        }

        ```

        Encoded (via `base64 -w0`):

        `eyJpZGVudGl0eSI6IHsiYWNjb3VudF9udW1iZXIiOiJhY2NvdW50MTIzIiwib3JnX2lkIjoib3JnMTIzIiwidHlwZSI6IlVzZXIiLCJ1c2VyIjp7ImlzX29yZ19hZG1pbiI6dHJ1ZX0sImludGVybmFsIjp7Im9yZ19pZCI6Im9yZzEyMyJ9fX0K`
